<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dress Hawai`i</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/WardrobeScript.js"></script>
</head>
<body onbeforeunload="return leavepage()">
    @* begin navbar *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dress Hawai`i", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Outfits", "Index", "Outfits")</li>
                </ul>
                <div class="dropdown">
                    <button onclick="clothingOptions()" class="dropbtn">Clothing/Accessories Options<i class="em em-arrow_down_small"></i> </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="~/Tops/" target="_blank">Tops</a>
                        <a href="~/Bottoms/" target="_blank">Bottoms</a>
                        <a href="/Shoes/" target="_blank">Footware</a>
                        <a href="/Accessories/" target="_blank">Accessories</a>
                    </div>
                </div>   
                <button type="button" class="btn" onmouseover="overBtn(this)" onmouseout="outBtn(this)"; onclick="letsShop();">Let's Shop</button>
            </div>
        </div>
    </div>
    <hr />
    @* end navbar *@
    @* begin footer *@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="copy" onmouseover="mOver(this)" onmouseout="mOut(this)">&copy; 2018 - Dress Hawai`i</p>
        </footer>
    </div>
    @* end footer *@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
