<link href="~/Content/TopsDetails.css" rel="stylesheet" />

@model WardrobeApplication.Models.Top

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col">
        <p class="table-header">
            Top Information
        </p>
    </div>
</div>


<div class="row">
    <hr />
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="thumbnail details-top">

            <div class="caption details">
                <p class="description">
                    Description: @Html.DisplayFor(model => model.TopName)
                </p>
                <p>
                    Image Location: @Html.DisplayFor(model => model.TopPhoto)
                </p>
                <p>
                    Fabric Colors/Patterns: @Html.DisplayFor(model => model.TopColor)
                </p>
                <p>
                    Type:  @Html.DisplayFor(model => model.TopType)
                </p>
                <p>
                    Season Used:  @Html.DisplayFor(model => model.Season.SeasonName)
                </p>
                <p>
                    Occasion Used: @Html.DisplayFor(model => model.Occasion.OccasionName)
                </p>

                <p class="links">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


