<link href="~/Content/AccessDetails.css" rel="stylesheet" />

@model WardrobeApplication.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col">
        <p class="table-header">
            Accessory Information
        </p>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="thumbnail access-details">
            <div class="caption access-details">
                <p class="description">
                    Description: @Html.DisplayFor(model => model.AccessoryName)
                </p>
                <p>
                    Image Location: @Html.DisplayFor(model => model.AccessoryPhoto)
                </p>
                <p>
                    Colors/Patterns: @Html.DisplayFor(model => model.AccessoryColor)
                </p>
                <p>
                    Season Used: @Html.DisplayFor(model => model.Season.SeasonName)
                </p>
                <p>
                    Occasion Used: @Html.DisplayFor(model => model.Occasion.OccasionName)
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>


