<link href="~/Content/ShoesIndex.css" rel="stylesheet" />

@model IEnumerable<WardrobeApplication.Models.Shoe>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <p class="table-header">
            Footware
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>
<hr/>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail shoes-index">
                <div class="caption shoes-index">
                    <p class="thumbnail-photo">
                        <img src="@Html.DisplayFor(modelItem => item.ShoePhoto)" width="100" height="100">
                    </p>
                    <p class="description">
                        @Html.DisplayFor(modelItem => item.ShoeName)
                    </p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ShoeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ShoeID })
                    </p>

                </div>
            </div>
        </div>
    }
</div>






