<link href="~/Content/OutfitsDetails.css" rel="stylesheet" />

@model WardrobeApplication.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col">
        <p class="table-header">
            Outfit Information
        </p>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="caption outfit-details">
            <p>
                Top: @Html.DisplayFor(model => model.Top.TopName)
            </p>
            <p>
                Bottom: @Html.DisplayFor(model => model.Bottom.BottomName)
            </p>
            <p>
                Footware: @Html.DisplayFor(model => model.Shoe.ShoeName)
            </p>
            <p>
                Accessory: @Html.DisplayFor(model => model.Accessory.AccessoryName)
            </p>
            <p>
                Season Used: @Html.DisplayFor(model => model.Season.SeasonName)
            </p>
            <p>
                Occasion Used: @Html.DisplayFor(model => model.Occasion.OccasionName)
            </p>
        </div>
        
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col">
        @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>



@*<div>
    <h4>Outfit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accessory.AccessoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory.AccessoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bottom.BottomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottom.BottomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.OccasionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccasionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shoe.ShoeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shoe.ShoeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Top.TopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top.TopName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
