<link href="~/Content/OutfitsIndex.css" rel="stylesheet" />

@model IEnumerable<WardrobeApplication.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <p class="table-header">
            Let's Make An Outfit!
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>
<hr/>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail outfit-index">
                <div class="caption outfit-index">
                    <p>
                        @Html.DisplayFor(modelItem => item.Occasion.OccasionName)
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(model=>item.Top.TopPhoto)" width="100" height="100" />
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(model=>item.Bottom.BottomPhoto)" width="100" height="100" />
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(model=>item.Shoe.ShoePhoto)" width="100" height="100" />
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(model=>item.Accessory.AccessoryPhoto)" width="100" height="100" />
                    </p>
                    <p class="links">
                        @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OutfitID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accessory.AccessoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bottom.BottomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion.OccasionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shoe.ShoeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Top.TopPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Accessory.AccessoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottom.BottomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.OccasionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shoe.ShoeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Top.TopName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutfitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutfitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutfitID })
        </td>
    </tr>
}

</table>*@
