<link href="~/Content/OutfitsIndex.css" rel="stylesheet" />

@model IEnumerable<WardrobeApplication.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <p class="table-header">
            Let's Make An Outfit!
        </p>
    </div>
</div>

<div class="row createOutfit" id="orig1">
    <div class="col createOutfit">
        <button type="button" class="outfit" onmouseover="overCreateOutfit(this)" onmouseout="outCreateOutfit(this)" onclick="SwapDivsWithClick('orig1', 'swap1')">Create New</button>
        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    </div>
</div>
@*Hidden*@
<div class="row createOutfit" style="display:none" id="swap1">
    <div class="col createOutfit">
        <p>Please login or create account to design new outfits.</p>
        <form action="/action_page.php">
            First name:<br>
            <input type="text" name="firstname" value="Emmalani">
            <br>
            Last name:<br>
            <input type="text" name="lastname" value="Bryan">
            <br /><br />
            <button type="button" class="outfit" onmouseover="overCreateOutfit(this)" onmouseout="outCreateOutfit(this)" onclick="SwapDivsWithClick('orig1', 'swap1')">Submit</button>
            <output name="result" id="confirmResponse"></output>
        </form>

    </div>
    <div class="col-5 locationscolodd">

    </div>
</div>
<hr/>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail outfit-index">
                <div class="caption outfit-index">
                    <p>
                        @Html.DisplayFor(modelItem => item.Occasion.OccasionName)
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(model=>item.Top.TopPhoto)" width="100" height="100" />
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(model=>item.Bottom.BottomPhoto)" width="100" height="100" />
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(model=>item.Shoe.ShoePhoto)" width="100" height="100" />
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(model=>item.Accessory.AccessoryPhoto)" width="100" height="100" />
                    </p>
                    <p class="links">
                        @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OutfitID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>




