<link href="~/Content/BottomsIndex.css" rel="stylesheet" />

@model IEnumerable<WardrobeApplication.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <p class="table-header">
            Bottoms
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>
<hr/>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail bottoms-index">
                <div class="caption bottoms-index">
                    <p class="thumbnail-photo">
                        <img class="thumbnail-photo" src="@Html.DisplayFor(modelItem => item.BottomPhoto)" width="100" height="100" />
                    </p>
                    <p class="description">
                        @Html.DisplayFor(modelItem => item.BottomName)
                    </p>

                    <p class="links">
                        @Html.ActionLink("Edit", "Edit", new { id = item.BottomID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BottomID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BottomID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>
